version: '3.8'

services:
  api:
    container_name: api_backend_dev
    env_file:
      - .env
    build:
      context: .
      dockerfile: api/Dockerfile
      target: development # Usando o estágio de desenvolvimento
      
    ports:
      - "3000:3000" 
      
    volumes:
      - ./api:/usr/src/app
      - /usr/src/app/node_modules 
      
    environment:
      DB_HOST: db 
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      
    
    depends_on:
      db:
        condition: service_healthy
      
    restart: always

  db:
    image: postgres:16-alpine 
    container_name: postgres_app_db
    env_file:
      - .env
    restart: always
    
   
    volumes:
      - postgres_data:/var/lib/postgresql/data 
      
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    # Healthcheck para garantir a prontidão antes da API
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5


  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_interface
    restart: always
    env_file:
      - .env
      
    ports:
      - "8080:80"
      
    environment:
      # Credenciais para acessar a interface web do PgAdmin
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}

    # Depende do banco de dados estar saudável antes de tentar conectar
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: