services:
    # Banco de dados PostgreSQL + pgvector
    database:
        image: pgvector/pgvector:pg14
        container_name: ${PROJECT_NAME:-orion}-n8n-database
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - postgres_data_orion:/var/lib/postgresql/data
        ports:
            - '${POSTGRES_PORT:-5432}:5432'
        networks:
            - orion-n8n-network
        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}',
                ]
            interval: 30s
            timeout: 30s
            retries: 3

    # Redis do evolution
    redis:
        image: redis:6-alpine
        container_name: ${PROJECT_NAME:-orion}-n8n-redis
        command: redis-server --requirepass ${REDIS_PASSWORD}
        volumes:
            - redis_data_orion:/data
        ports:
            - '${REDIS_PORT:-6379}:6379'
        networks:
            - orion-n8n-network
        healthcheck:
            test: ['CMD', 'redis-cli', '-a', '${REDIS_PASSWORD}', 'ping']
            interval: 25s
            timeout: 30s
            retries: 3

    # N8N principal
    n8n:
        image: docker.n8n.io/n8nio/n8n
        container_name: ${PROJECT_NAME:-orion}-n8n-main
        depends_on:
            database:
                condition: service_healthy
            redis:
                condition: service_healthy
        environment:
            # Configurações do N8N
            N8N_HOST: ${N8N_HOST}
            N8N_PORT: 5678
            N8N_PROTOCOL: ${N8N_PROTOCOL:-http}
            WEBHOOK_URL: ${WEBHOOK_URL}

            # Configurações do banco de dados
            DB_TYPE: postgresdb
            DB_POSTGRESDB_HOST: database
            DB_POSTGRESDB_PORT: 5432
            DB_POSTGRESDB_DATABASE: ${POSTGRES_DB}
            DB_POSTGRESDB_USER: ${POSTGRES_USER}
            DB_POSTGRESDB_PASSWORD: ${POSTGRES_PASSWORD}

            # Configurações do Redis
            QUEUE_BULL_REDIS_HOST: redis
            QUEUE_BULL_REDIS_PASSWORD: ${REDIS_PASSWORD}

            # Configurações de segurança
            N8N_USER_MANAGEMENT_DISABLED: false
            N8N_SECURE_COOKIE: false
            N8N_ENCRYPTION_KEY: ${N8N_ENCRYPTION_KEY}

            # Configurações de logs
            N8N_LOG_LEVEL: info
            N8N_LOG_OUTPUT: console
        ports:
            - '${N8N_PORT:-5678}:5678'
        volumes:
            - n8n_data_orion:/.n8n
        networks:
            - orion-n8n-network

    # Evolution / WhatsApp
    evolution-api:
        container_name: ${PROJECT_NAME:-orion}-evolution-api
        image: atendai/evolution-api:v2.2.0
        ports:
            - '${EVOLUTION_PORT:-8080}:8080'
        environment:
            DEBUG: ${EVOLUTION_DEBUG:-true}
            CONFIG_SESSION_PHONE_VERSION: '2.3000.1029899170'
            AUTHENTICATION_API_KEY: ${EVOLUTION_API_KEY}
            DATABASE_ENABLED: true
            DATABASE_PROVIDER: postgresql
            DATABASE_CONNECTION_URI: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}
            DATABASE_SAVE_DATA_INSTANCE: true
            DATABASE_SAVE_DATA_NEW_MESSAGE: true
            DATABASE_SAVE_MESSAGE_UPDATE: true
            DATABASE_SAVE_DATA_CONTACTS: true
            DATABASE_SAVE_DATA_CHATS: true
            DATABASE_SAVE_DATA_LABELS: true
            DATABASE_SAVE_DATA_HISTORIC: false
            DATABASE_SAVE_IS_ON_WHATSAPP: true
            DATABASE_SAVE_IS_ON_WHATSAPP_DAYS: 1
            DATABASE_DELETE_MESSAGE: true
            CACHE_REDIS_ENABLED: true
            CACHE_REDIS_URI: redis://:${REDIS_PASSWORD}@redis:6379/0
            CACHE_REDIS_PREFIX_KEY: evolution
            CACHE_REDIS_SAVE_INSTANCES: true
            CACHE_LOCAL_ENABLED: false
        networks:
            - orion-n8n-network
        volumes:
            - evolution_instances_orion:/evolution/instances
        depends_on:
            database:
                condition: service_healthy
            redis:
                condition: service_healthy

volumes:
    postgres_data_orion:
    redis_data_orion:
    n8n_data_orion:
    evolution_instances_orion:

networks:
    orion-n8n-network:
        driver: bridge
