version: '3.8'
services:
  api:
    env_file:
      - .env
    build:
      context: .
      dockerfile: api/Dockerfile
      # Especifica o estágio de build 'production'
      target: production
    
    ports:
      - "8080:3000"
      
    # Variáveis de Ambiente para a API
    environment:
      DB_HOST: db 
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      DB_PORT: 5432
      
    depends_on:
      db:
        condition: service_healthy
      
    restart: always

  db:
    image: postgres:16-alpine 
    container_name: postgres_db_prod
    env_file:
      - .env
    restart: always
    
    # Usa um volume diferente para dados de produção
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data 
      
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_prod: