version: '3.8'
services:
  api:
    env_file:
      - .env
    build:
      context: .
      dockerfile: api/Dockerfile
      # Especifica o estágio de build 'development'
      target: development
    
    ports:
      - "3000:3000"
      
    # Monta o Bind Mount para Live Reload (código local <-> container)
    volumes:
      - ./api:/usr/src/app
      - /usr/src/app/node_modules
      
    # Sobrescreve o comando para usar nodemon (Live Reload)
    command: nodemon index.js
    
    # Variáveis de Ambiente para a API
    environment:
      # O HOST do DB DENTRO da rede Docker deve ser o nome do serviço
      DB_HOST: db
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      DB_PORT: 5432
      
    # Garante que o DB inicie antes da API
    depends_on:
      db:
        condition: service_healthy

    restart: always

  db: 
    image: postgres:16-alpine 
    container_name: postgres_db_dev
    restart: always
    
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data 
      
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_dev: