version: '3.8'

services:

  db:
    image: postgres:14-alpine
    container_name: postgres_db

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    volumes:
      - db_data:/var/lib/postgresql/data # Local de persistência padrão do postgres
    

    restart: always

  api:
    container_name: api_connector
    
    build:
      context: .
      dockerfile: api/Dockerfile
      
    environment:
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}

    ports:
      - "3000:3000"

    depends_on:
      - db
      
    restart: always

volumes:
  db_data:
    driver: local