# Ignorar arquivos do Git e Variáveis de Ambiente
*.log
*.log
.git
.gitignore
.env
.env.example

# Ignorar dependências Node.js
api/node_modules

# Ignorar arquivos de cache
npm-debug.log
.DS_Store

# Banco de dados local do Mongo
data/db/

# Banco de dados local do Mongo
data/db/
