version: "3.8"

services:
  mongodb:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: mongo-prod
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: blog_posts
